@import "src/scss/colors.scss";
@import "src/scss/screenSize.scss";

.blog {
    margin-top: 6rem;
    &__header {
        font-weight: 600;
        font-size: calc(32px + 16 * (100vw / 1280));
        color: white;
        font-family: "Playfair Display", sans-serif;
        text-align: center;
    }
    &__blogs {
        margin-top: 2rem;
        display: flex;
        @media screen and (max-width: $adaptive-screen-size) {
            flex-direction: column;
            align-items: center;
        }
        &__main {
            width: 50%;
            height: auto;
            position: relative;
            @media screen and (max-width: $adaptive-screen-size) {
                width: 100%;
            }
            &__content {
                position: absolute;
                bottom: 2rem;
                left: 10%;
                &__header {
                    font-weight: 600;
                    font-size: calc(8px + 40 * (100vw / 1280));
                    color: white;
                    font-family: "Playfair Display", sans-serif;
                    width: 80%;
                }

                &__profile {
                    margin-top: 2rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    @media screen and (max-width: 680px) {
                        display: none;
                    }
                    &__text {
                        padding-left: 1rem;
                    }

                    &__name {
                        font-weight: 400;
                        font-size: calc(12px + 4 * (100vw / 1280));
                        color: white;
                    }

                    &__date {
                        font-weight: 400;
                        font-size: calc(12px + 2 * (100vw / 1280));
                        color: $page-content-additional;
                    }

                    &__wrapper {
                        display: flex;
                        align-items: center;
                    }
                }

                &__more {
                    font-weight: 400;
                    font-size: calc(12px + 2 * (100vw / 1280));
                    color: $page-content-additional;
                }
            }

            &__trending {
                position: absolute;
                top: 0;
                background-color: rgba(255, 196, 146, 0.47);
                width: 50%;
                max-width: 10rem;
                height: 14%;
                max-height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                &__text {
                    font-weight: 500;
                    font-size: calc(10px + 6 * (100vw / 1280));
                    color: white;
                    letter-spacing: 3px;
                }
            }
            
            &__img {
                width: 100%;
                padding-right: 2rem;
                @media screen and (max-width: $adaptive-screen-size) {
                    padding-right: 0;
                }
            }
        }
        
        &__additional {
            width: 50%;
            padding-right: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: $adaptive-screen-size) {
                    width: 100%;
                    padding-right: 0;
            }
            &__item {
                display: flex;
                @media screen and (max-width: $adaptive-screen-size) {
                    margin-top: 2rem;
                }
                @media screen and (max-width: 500px) {
                    flex-direction: column;
                }
                &__content {
                    padding-left: 2rem;
                    @media screen and (max-width: 500px) {
                        padding-left: 0;
                    }
                }

                &__header {
                    font-weight: 700;
                    font-size: calc(16px + 4 * (100vw / 1280));
                    color: white;
                    font-family: "Playfair Display", sans-serif;
                    width: 80%;
                    @media screen and (max-width: $adaptive-screen-size) {
                        width: 100%;
                    }
                }

                &__additional {
                    margin-top: 1rem;
                    font-weight: 400;
                    font-size: calc(12px + 4 * (100vw / 1280));
                    color: $page-content-additional;
                    width: 80%;
                    @media screen and (max-width: $adaptive-screen-size) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__article {
        margin-top: 12rem;
        @media screen and (max-width: 500px) {
            margin-top: 6rem;
        }
        &__content {
            margin-top: 4rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 4rem;
            @media screen and (max-width: $adaptive-screen-size) {
                flex-direction: column;
            }
            @media screen and (max-width: 500px) {
                margin-bottom: 14rem;
            }
            &__item {
                display: flex;
                max-height: 266px;
                align-items: center;
                width: 45%;
                @media screen and (max-width: $adaptive-screen-size) {
                    width: 100%;
                }
                @media screen and (max-width: 500px) {
                    flex-direction: column;
                    margin-top: 12rem;
                    align-items: flex-start;
                    &:nth-child(1) {
                        margin-top: 0rem;
                    }
                }
                &__profile {
                    display: flex;
                    &__text {
                        padding-left: 2rem;
                        @media screen and (max-width: 500px) {
                            padding-left: 0;
                            padding-top: 1rem;
                        }
                    }

                    &__data {
                        padding-left: 1rem;
                    }

                    &__name {
                        font-weight: 400;
                        font-size: calc(12px + 4 * (100vw / 1280));
                        color: white;
                    }

                    &__date {
                        font-weight: 400;
                        font-size: calc(12px + 2 * (100vw / 1280));
                        color: $page-content-additional;
                    }

                    &__img {
                        max-height: 41px;
                    }
                }

                &__header {
                    margin-top: 1rem;
                    font-weight: 700;
                    font-size: calc(16px + 4 * (100vw / 1280));
                    color: white;
                    font-family: "Playfair Display", sans-serif;
                    width: 70%;
                }

                &__more {
                    margin-top: 1rem;
                    font-weight: 400;
                    font-size: calc(12px + 4 * (100vw / 1280));
                    color: $page-content-additional;
                }
            }
        }

        &__header {
            font-weight: 600;
            font-size: calc(32px + 16 * (100vw / 1280));
            color: white;
            font-family: "Playfair Display", sans-serif;
            text-align: center;
        }
    }
}