@import "src/scss/colors.scss";

.burger {
    cursor: pointer;
    &__line  {
        &__one {
            width: 2rem;
            height: 2px;
            background-color: white;
            margin-bottom: 4px;
            transition: all 0.4s;
            &__rotated {
                transform: rotateZ(45deg) translateY(5px) translateX(5px);
                width: 2rem;
                height: 2px;
                background-color: white;
                margin-bottom: 4px;
                transition: all 0.4s;
            }
        }
        &__two {
            width: 2rem;
            height: 2px;
            background-color: white;
            margin-bottom: 4px;
            transition: all 0.4s;
            &__rotated {
                opacity: 0;
                width: 2rem;
                height: 2px;
                background-color: white;
                margin-bottom: 4px;
                transition: all 0.4s;
            }
        }
        &__three {
            width: 2rem;
            height: 2px;
            background-color: white;
            margin-bottom: 4px;
            transition: all 0.4s;
            &__rotated {
                transform: rotateZ(-45deg) translateY(-4px) translateX(3px);
                width: 2rem;
                height: 2px;
                background-color: white;
                margin-bottom: 4px;
                transition: all 0.4s;
            }
        }
    }

    &__nav {
        position: absolute;
        left: -1px;
        margin-top: 1rem;
        width: 120%;
        &__item {
            background-color: $page-background-color;
            padding: 1rem 0;
            border: $page-background-color 1px solid;
            &__link {
                text-decoration: none;
                color: white;
                font-size: calc(14px + 2 * (100vw / 1280));
            }
        }
    }
}