@import "src/scss/colors.scss";
@import "src/scss/screenSize.scss";

.button {
    color: $button-text-color;
    background-color: $page-logo-color;
    width: 10rem;
    height: 3rem;
    font-weight: 500;
    font-size: calc(14px + 2 * (100vw / 1280));
    border: none;
    z-index: -1;
    cursor: pointer;
    @media screen and (max-width: $adaptive-screen-size) {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    &__link {
        text-decoration: none;
        color: $button-text-color;
    }
}