@import "src/scss/colors.scss";
@import "src/scss/screenSize";

.about {
    display: flex;
    margin-top: 6rem;
    @media screen and (max-width: $adaptive-screen-size) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__content {
        width: 50%;
        @media screen and (max-width: $adaptive-screen-size) {
            width: 100%;
        }
        &__article {
            font-family: "Playfair Display", sans-serif;
            font-weight: 400;
            font-size: calc(12px + 4 * (100vw / 1280));
            color: $page-logo-color;
            position: relative;
            &::after {
                content: " ";
                position: absolute;
                width: 2rem;
                height: 1px;
                top: 0.7rem;
                left: 13rem;
                background-color: white;
            }
        }

        &__title {
            font-family: "Playfair Display", sans-serif;
            font-weight: 700;
            font-size: calc(15px + 30 * (100vw / 1280));
            color: white;
            margin-top: 1rem;
        }

        &__additional {
            font-weight: 400;
            font-size: calc(12px + 4 * (100vw / 1280));
            color: $page-content-additional;
            margin-top: 2rem;
            text-align: justify;
        }

        &__enumeration {
            display: flex;
            margin-top: 3rem;
            gap: 10%;
            @media screen and (max-width: 700px) {
                flex-direction: column;
                gap: 0%;
                align-items: center;
            }
            &__item {
                width: 30%;
                @media screen and (max-width: $adaptive-screen-size) {
                    width: 100%;
                    margin-bottom: 1rem;
                }
                &__header {
                    font-weight: 500;
                    font-size: calc(21px + 3 * (100vw / 1280));
                    color: #C4E4EA;
                    display: flex;
                    gap: 1rem;
                }

                &__additional {
                    font-weight: 400;
                    font-size: calc(12px + 4 * (100vw / 1280));
                    color: $page-content-additional;
                }

                &__description {
                    font-weight: 400;
                    font-size: calc(12px + 4 * (100vw / 1280));
                    color: $page-content-additional;
                    margin-top: 0.5rem;
                }
            }
        }
    }

    &__img {
        width: 50%;
        position: relative;
        @media screen and (max-width: $adaptive-screen-size) {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 4rem;
        }
        &__one {
            width: 35%;
            height: auto;
            max-width: 268px;
            position: absolute;
            bottom: 0;
            left: 22%;
            @media screen and (max-width: $adaptive-screen-size) {
                position: static;
                width: 30%;
            }
        }

        &__two {
            width: 35%;
            height: auto;
            max-width: 268px;
            position: absolute;
            top: 0;
            right: 0;
            @media screen and (max-width: $adaptive-screen-size) {
                position: static;
                width: 30%;
            }
        }
    }
}